{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static "style.css" %}" />
    <script src="{% static "jquery-2.2.3.js" %}"></script>
    <meta charset="UTF-8">
    <title>WYBORY 2016</title>
    <script type="text/javascript" src="{% static "jsapi.js" %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static "myjs.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var modal = document.getElementById('myModal');
            $(document).on('click', '.clickable-woj', function () {
                $.ajax({
                    type: "GET",
                    url: document.URL + 'wojewodztwos/' + this.id,
                    error: function (data) {
                        alert('Error:' + data);
                        console.log('wynik' + data);
                    },
                    success: function (data) {
                        console.log(data);
                        $("table.modal-table").replaceWith(createTable(data.wszystko));
                        modal.style.display = "block";
                        table = "";
                    }
                });
            });
            $(document).on('click', '.clickable-rodzaj', function () {
                $.ajax({
                    type: "GET",
                    url: document.URL + 'wojewodztwosrodzaj/' + this.id,
                    error: function (data) {
                        alert('Error:' + data);
                        console.log('wynik' + data);
                    },
                    success: function (data) {
                        console.log(data);
                        $("table.modal-table").replaceWith(createTable(data.wszystko));
                        modal.style.display = "block";
                        table = "";
                    }
                });
            });
            $(document).on('click', '.clickable-rozmiar', function () {
                $.ajax({
                    type: "GET",
                    url: document.URL + 'wojewodztwosrozmiar/' + this.id,
                    error: function (data) {
                        alert('Error:' + data);
                        console.log('wynik' + data);
                    },
                    success: function (data) {
                        console.log(data);
                        $("table.modal-table").replaceWith(createTable(data.wszystko));
                        modal.style.display = "block";
                        table = "";
                    }
                });
            });
            {% if user.is_authenticated %}
                document.getElementById("login").style.display = 'none';
                document.getElementById("password").style.display = 'none';
                document.getElementById("login_button").value = "Wyloguj się";
            {% endif %}
        });


    </script>
</head>
<body>

    <h4 id="poczatek"> Wyniki głosowania</h4>
    <input id="login" type="text" name="firstname" placeholder="Login">{% csrf_token %}
    <input id="password" type="password" name="firstname" placeholder="Hasło">{% csrf_token %}
    <input id="login_button" type="button" onclick="logFunction()" value="Zaloguj się">{% csrf_token %}

    <script type="text/javascript">
        pokaz_wyniki();
    </script>

    <div id="wyniki">
    </div>
    <div id="chart_div_not"></div>

    <table id="wojew">

    </table>
    <br>
    <table id="rodzaje">

    </table>
    <br>
    <table id="ludnosci">

    </table>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-body">
          <table class="modal-table"></table>
        </div>
      </div>
    </div>

</body>
</html>
