{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static "style.css" %}" />
    <script src="{% static "jquery-2.2.3.js" %}"></script>
    <meta charset="UTF-8">
    <title>WYBORY 2016</title>
    <script type="text/javascript" src="{% static "jsapi.js" %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static "myjs.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

{#                    {% if user.is_authenticated %}#}
{#                    $.ajax({#}
{#                        type: "GET",#}
{#                        url: "/projekt_zaliczeniowy/modale_przez_wojewodztwo/" + this.id,#}
{#                        error: function (data) {#}
{#                            alert('Error:' + data);#}
{#                            console.log('wynik' + data);#}
{#                        },#}
{#                        success: function (data) {#}
{#                            console.log('wynik' + data);#}
{#                            var municipalities = JSON.parse(data);#}
{##}
{#                            $("table.modal-table").replaceWith(createTable(municipalities));#}
{#                            modal.style.display = "block";#}
{#                            table = "";#}
{#                        }#}
{#                    });#}
{#                {% endif %}#}
{#            $("table#rodzaj").find("tr.type").click(function () {#}
{#                {% if user.is_authenticated %}#}
{#                    $.ajax({#}
{#                        type: "GET",#}
{#                        url: "/projekt_zaliczeniowy/modale_przez_rodzaj/" + this.id,#}
{#                        error: function (data) {#}
{#                            alert('Error:' + data);#}
{#                            console.log('wynik' + data);#}
{#                        },#}
{#                        success: function (data) {#}
{#                            console.log('wynik' + data);#}
{#                            var municipalities = JSON.parse(data);#}
{##}
{#                            $("table.modal-table").replaceWith(createTable(municipalities));#}
{#                            modal.style.display = "block";#}
{#                            table = "";#}
{#                        }#}
{#                    });#}
{#                {% endif %}#}
{#            });#}

{#            $("table#rodzaj").find("tr.size").click(function () {#}
{#                {% if user.is_authenticated %}#}
{#                    $.ajax({#}
{#                        type: "GET",#}
{#                        url: "/projekt_zaliczeniowy/modale_przez_rozmiar/" + this.id,#}
{#                        error: function (data) {#}
{#                            alert('Error:' + data);#}
{#                            console.log('wynik' + data);#}
{#                        },#}
{#                        success: function (data) {#}
{#                            console.log('wynik' + data);#}
{#                            var municipalities = JSON.parse(data);#}
{##}
{#                            $("table.modal-table").replaceWith(createTable(municipalities));#}
{#                            modal.style.display = "block";#}
{#                            table = "";#}
{#                        }#}
{#                    });#}
{#                {% endif %}#}
{#            });#}

    {% if user.is_authenticated %}
        <script>
            $(document).ready(function() {
                document.getElementById("login").style.display = 'none';
                document.getElementById("password").style.display = 'none';
                document.getElementById("login_button").value = "Wyloguj się";
            });
        </script>
    {% endif %}
</head>
<body>

    <h4 id="poczatek"> Wyniki głosowania</h4>
    <input id="login" type="text" name="firstname" placeholder="Login">{% csrf_token %}
    <input id="password" type="password" name="firstname" placeholder="Hasło">{% csrf_token %}
    <input id="login_button" type="button" onclick="logFunction()" value="Zaloguj się">{% csrf_token %}

    <script type="text/javascript">
        pokaz_wyniki();
    </script>

    <div id="wyniki">
    </div>
    <div id="chart_div_not">asd</div>

    <table id="wojewodztwa">
    </table>
    <br>
    <table id="rodzaj">
        <tr>
            <th rowspan="2" >Podział</th>
            <th rowspan="2" class="niezawsze">Liczba głosów ważnych</th>
            <th colspan="2"><span id="kand1"> brak</span></th>
            <th class="niezawsze" rowspan="2">Liczba głosów: na kandydata/ważnych [%]</th>
            <th colspan="2"><span id="kand2"> brak</span></th>
        </tr>
        <tr>
            <th>Liczba</th>
            <th>%</th>
            <th>%</th>
            <th>Liczba</th>
        </tr>
        <tr id="rodzaje">

        </tr>
        <td colspan="7">Porównanie wyników głosowania na kandydatów w zależności od liczby mieszkańców gminy	</td>
        <tr id="ludnosci">

        </tr>
    </table>
{##}
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">×</span>

        </div>
        <div class="modal-body">
          <table class="modal-table"></table>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>

</body>
</html>
